.ln-layout{
    height: 100%;
}

.ln-logo{
    text-align: center;
    line-height: 64px;
    height: 64px;
    overflow: hidden;
}

.ln-logo img{
    display: inline-block;
    height: 40px;
    width: 40px;
    vertical-align: middle;
}
.ln-logo span{
    color: #9fa7a1;
    font-size: 24px;
    vertical-align: middle;
    margin-left: 10px;
}